    server {
        listen                               REPLACE_SERVER_PORT default_server;
        server_name                          REPLACE_SERVER_NAME;
        root                                 REPLACE_SERVER_WWW_DIR;
        index                                index.php index.cgi index.pl index.aspx index.txt index.json index.html index.unknown.php index.default.php;
        proxy_intercept_errors               off;
        add_header X-Frame-Options           "SAMEORIGIN" always;
        add_header X-XSS-Protection          "1; mode=block" always;
        add_header X-Content-Type-Options    "nosniff" always;
        add_header Referrer-Policy           "no-referrer-when-downgrade" always;
        add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;
        add_header Content-Security-Policy   "script-src 'self' 'unsafe-inline' 'unsafe-eval' *; frame-src 'self' *; object-src 'self'" always;
    }
